/* =========================
PAGE BACKGROUND
========================= */

.edit-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px 20px;

background:linear-gradient(-45deg,#00c6ff,#275b9b,#11cb9c,#c60606,#43e97b,#38f9d7);
background-size:400% 400%;

animation:bgMove 16s ease infinite;

}


/* =========================
FORM CONTAINER
========================= */

.edit-container{

width:100%;

max-width:520px;

background:rgb(200, 219, 31);

padding:35px;

border-radius:18px;

box-shadow:0 15px 40px rgba(0,0,0,0.25);

animation:fadeUp .8s ease;

}


/* TITLE */

.edit-container h2{

text-align:center;

margin-bottom:25px;

font-size:28px;

color:#1f2937;

}


/* =========================
FORM INPUTS
========================= */

.edit-container input,
.edit-container textarea{

width:100%;

padding:12px 14px;

margin-bottom:16px;

border-radius:10px;

border:1px solid #26c1df;

font-size:14px;

outline:none;

transition:.3s;

}


/* INPUT FOCUS */

.edit-container input:focus,
.edit-container textarea:focus{

border-color:#4a6cf7;

box-shadow:0 0 6px rgba(74,108,247,.5);

}


/* TEXTAREA */

.edit-container textarea{

height:90px;

resize:none;

}


/* =========================
BUTTON
========================= */

.update-btn{

width:100%;

padding:12px;

border:none;

border-radius:10px;

background:linear-gradient(135deg,#4a6cf7,#7b91ff);

color:white;

font-size:15px;

cursor:pointer;

transition:.3s;

}

.update-btn:hover{

transform:scale(1.05);

box-shadow:0 8px 20px rgba(74,108,247,.5);

}


/* =========================
ANIMATIONS
========================= */

@keyframes bgMove{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

@keyframes fadeUp{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}


/* =========================
TABLET
========================= */

@media(max-width:768px){

.edit-container{

padding:28px;

}

}


/* =========================
MOBILE
========================= */

@media(max-width:480px){

.edit-container{

padding:22px;

}

.edit-container h2{

font-size:24px;

}

}