.orders-page{
max-width:900px;
margin:auto;
padding:40px 20px;
}

.orders-page h1{
margin-bottom:30px;
}

.empty{
color:#777;
font-size:18px;
}


/* CARD */

.order-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 6px 15px rgba(0,0,0,0.08);
margin-bottom:25px;
}


/* HEADER */

.order-header{
display:flex;
justify-content:space-between;
font-weight:bold;
margin-bottom:10px;
}

.status.delivered{
color:#2ecc71;
}


/* DATE */

.date{
color:#666;
margin-bottom:15px;
}


/* ITEM */

.order-item{
display:flex;
align-items:center;
gap:15px;
margin-bottom:12px;
}

.order-item img{
width:60px;
border-radius:6px;
}

.product-info{
flex:1;
}

.price{
font-weight:bold;
}


/* FOOTER */

.order-footer{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:15px;
}

.details-btn{
background:#2ecc71;
border:none;
padding:8px 14px;
color:white;
border-radius:6px;
cursor:pointer;
}

.details-btn:hover{
background:#27ae60;
}