/* =========================
FOOTER
========================= */

.footer{
background:linear-gradient(135deg,#ecec1d,#7b91ff);

color:white;

text-align:center;

padding:25px 20px;

margin-top:40px;

box-shadow:0 -4px 12px rgba(0,0,0,0.1);

}


/* LINKS */

.footer p{

margin:6px 0;

font-size:14px;

letter-spacing:.5px;

}


/* HOVER EFFECT FOR LINKS */

.footer p:first-child{

cursor:pointer;

}

.footer p:first-child span{

margin:0 10px;

transition:.3s;

}

.footer p:first-child span:hover{

color:#ffeaa7;

}


/* =========================
MOBILE
========================= */

@media(max-width:480px){

.footer{

font-size:13px;

padding:20px 10px;

}

}